/vendor/
/node_modules/
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
.env
.env.*
.vscode/
.idea/
.DS_Store
*.log
composer.lock
/php/logs/
/php/backup/
*.log
/php/logs/
/php/backup/
*.log
